{
  "globals": {
    "__dirname": true
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb-base",
    "airbnb/hooks",
    "airbnb-typescript",
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:import/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "tsconfigRootDir": "./",
    "project": [
      "./tsconfig.json"
    ]
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    },
    "react": {
      "version": "18.x"
    }
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-alert": 2,
    "no-console": 0,
    "no-redeclare": 2,
    "no-debugger": 2,
    "@typescript-eslint/array-type": 0,
    "@typescript-eslint/member-delimiter-style": 2,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/no-shadow": 2,
    "@typescript-eslint/type-annotation-spacing": 2,
    "@typescript-eslint/consistent-type-imports": [2, { "prefer": "type-imports" }],
    "@typescript-eslint/no-redeclare": "error",
    "@typescript-eslint/typedef": "error",
    "implicit-arrow-linebreak": 0,
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "camelcase": 0,
    "class-methods-use-this": 0,
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": [
      "warn",
      "always-multiline"
    ],
    "consistent-return": 0,
    "curly": [
      "error",
      "all"
    ],
    "default-param-last": 0,
    "dot-notation": [2, { "allowPattern": "^[a-z]+(_[a-z]+)+$" }],
    "func-names": 0,
    "global-require": 0,
    "import/extensions": 0,
    "import/named": 2,
    "import/no-commonjs": 0,
    "import/no-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "max-classes-per-file": 0,
    "max-len": [
      "error",
      {
        "code": 180,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreComments": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      },
    ],
    "no-async-promise-executor": 0,
    "no-else-return": 0,
    "no-mixed-operators": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": 0,
    "no-restricted-globals": ["error", "addEventListener", "defaultStatus", "event", "defaultstatus", "frameElement", "frames", "history", "location", "locationbar", "print", "removeEventListener", "screen"],
    "no-restricted-syntax": ["error", "WithStatement"],
    "no-return-assign": 0,
    "no-shadow": 0,
    "no-unused-expressions": 0,
    "no-useless-constructor": "off",
    "object-curly-newline": 0,
    "operator-linebreak": [
      2,
      "after",
      {
        "overrides": {
          "?": "before",
          ":": "before"
        }
      }
    ],
    "prefer-destructuring": 0,
    "prefer-object-spread": 0,
    "require-jsdoc": 0,
    "space-before-function-paren": ["error", "never"],
    "@typescript-eslint/space-before-function-paren": ["error", "never"],
    "spaced-comment": 1,
    "react-hooks/exhaustive-deps": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["off"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "object-shorthand": "error"
  },
  "overrides": [
    {
      "files": [
        "server.ts"
      ],
      "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module",
        "tsconfigRootDir": ".",
        "project": [
          "./../server/tsconfig.json"
        ]
      }
    }
  ]
}
