{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "ignorePatterns": ["*.html"],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-alert": 0,
    "no-console": 0,
    "no-redeclare": 2,
    "no-debugger": 2,
    "@typescript-eslint/array-type": 0,
    "@typescript-eslint/member-delimiter-style": 2,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/no-shadow": 2,
    "@typescript-eslint/type-annotation-spacing": 2,
    "@typescript-eslint/consistent-type-imports": [2, { "prefer": "type-imports" }],
    "@typescript-eslint/no-redeclare": "error",
    "@typescript-eslint/typedef": "error",
    "@typescript-eslint/no-unused-vars": ["off", { "ignoreRestSiblings": true }],
    "implicit-arrow-linebreak": 0,
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "camelcase": 0,
    "class-methods-use-this": 0,
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "consistent-return": 0,
    "curly": [
      "error",
      "all"
    ],
    "default-param-last": 0,
    "dot-notation": [2, { "allowPattern": "^[a-z]+(_[a-z]+)+$" }],
    "func-names": 0,
    "global-require": 0,
    "import/extensions": 0,
    "import/named": 2,
    "import/no-commonjs": 0,
    "import/no-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "max-classes-per-file": 0,
    "max-len": [
      "error",
      {
        "code": 180,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreComments": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "no-async-promise-executor": 0,
    "no-else-return": 0,
    "no-mixed-operators": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": 0,
    "no-restricted-globals": ["error", "addEventListener", "defaultStatus", "event", "defaultstatus", "frameElement", "frames", "history", "location", "locationbar", "print", "removeEventListener", "screen"],
    "no-restricted-syntax": ["error", "WithStatement"],
    "no-return-assign": 0,
    "no-shadow": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": "off",
    "no-use-before-define": 0,
    "no-useless-constructor": "off",
    "object-curly-newline": 0,
    "operator-linebreak": [
      2,
      "after",
      {
        "overrides": {
          "?": "before",
          ":": "before"
        }
      }
    ],
    "prefer-destructuring": 0,
    "prefer-object-spread": 0,
    "require-jsdoc": 0,
    "space-before-function-paren": ["error", "never"],
    "@typescript-eslint/space-before-function-paren": ["error", "never"],
    "spaced-comment": 1,
    "valid-jsdoc": [
      "error",
      {
        "prefer": {
          "returns": "return"
        },
        "preferType": {
          "Boolean": "boolean",
          "Function": "function",
          "Number": "number",
          "Object": "object",
          "String": "string"
        },
        "requireReturn": false,
        "requireParamDescription": true,
        "requireReturnDescription": true
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "*.ts"
      ],
      "rules": {
        "no-dupe-class-members": 0,
        "no-undef": 0,
        "valid-jsdoc": 0
      }
    }
  ]
}
